@import "../../../assets/styles/variables";
.login-form {
  margin-top: 25px;
  &__back-btn {
    outline: none;
    border: none;
    align-self: flex-start;
    width: 16px;
    height: 14px;
    background: url("../../../assets/icons/icon_arrow_left.svg") no-repeat;
    background-size: cover;
    margin-bottom: 25px;
  }
  &__password {
    width: 100%;
    margin-top: 50px;
  }
  &__forgot {
    width: 100%;
    display: block;
    margin-top: 10px;
    text-align: right;
    color: $textGrey;
  }
  &__button {
    margin-top: 100px;
  }
}