.postgres
.mariadb
.idea
.gitlab
.git
.gitignore
.dockerignore
.gitlab-ci.yml
docker-compose.tests.yml
docker-compose.base.yml
docker-compose.dev-base.yml
docker-compose.dev-full.yml
compose
*.md
Dockerfile
.env
.env.dev
media
static
internal-static
venv
frontend
beat.db
celerybeat.pid
