.git
.gitlab
.gitlab-ci.yml

__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
node_modules/

.env
.env.*
!.env.example

media/
static/
internal-static/

backups/
backup_*.sql
*.sql
*.sql.gz
*.dump
*.bak

openssl-3.0.9
openssl-3.0.9.tar.gz
wget-1.8.2
wget.tar.gz

beat.db
celerybeat.pid

.idea/
.vscode/
.DS_Store
Thumbs.db

*.log
*.tmp
*.swp