@import "../../assets/styles/variables";

.org-receipt-detail-page {
  padding-bottom: $navbarBottomPadding;
  &__client {
    margin-top: 30px;
    display: flex;
    align-items: center;
    &-avatar { margin-right: 15px; }
    &-right {
      flex-grow: 1;
      text-transform: capitalize;
      & p { color: $textGrey; }
    }
  }

  &__receipt {
    margin-top: 20px;
  }
}