@import "../../assets/styles/variables";

.organization-header {
  display: flex;
  align-items: center;
  &__left { margin-right: 15px; }
  &__right { overflow: hidden }
  &__type { color: $textGrey; }
  &__title { color: $primaryBlack; font-weight: bold }
  &__subscribers {
    color: $textGrey;
    & b { color: $primaryBlue; }
  }
}