.discount-card {
  position: relative;
  min-width: 343px;
  max-width: 343px;
  height: 218px;
  border-radius: 17px;
  padding: 20px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);

  &-cumulative {
    background: url("../../../assets/images/dsc_card_red.png") no-repeat center;
    background-size: cover;
  }

  &-fixed {
    background: url("../../../assets/images/dsc_card_blue.png") no-repeat center;
    background-size: cover;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__settings {
    align-self: flex-end;
    z-index: 1;
    cursor: pointer;
  }

  &__overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 17px;
    background: rgba(0, 0, 0, 0.6);
    &-text {
      margin: auto;
      color: #FFF;
      text-align: center;
      padding: 0 20px;
      white-space: pre;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.25);
    }
  }

  &__name {
    color: #FFF;
    margin-bottom: 5px;
    z-index: 0;
    text-shadow: 0 0 2px #000000, 0 0 2px #FFFFFF;
  }

  &__amount {
    position: absolute;
    top: 13px;
    left: 17px;
    font-weight: 800;
    font-size: 60px;
    line-height: 68px;
    color: #FFF;
    text-shadow: 0 0 2px #000000, 0 0 2px #FFFFFF;
  }

  &__img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
  }
}