@import "../../../assets/styles/variables";

.textarea-field {
  border: none;
  border-bottom: 1px solid $borderGrey;
  resize: none;
  width: 100%;
  padding: 0 0 8px;
  &:focus {
    outline: none;
    //border-color: $primaryBlack;
  }
  &::placeholder {
    font-size: 14px;
    line-height: 20px;
    color: $textGrey
  }

  &__error {
    border-color: #F93C10;
  }

  &__error-text {
    color: #F93C10;
    font-size: 14px;
    margin-top: 5px;
  }
}