@import "../../../assets/styles/variables";

.receipt-card {
  width: 100%;
  &__wrap {
    display: flex;
    align-items: center;
    height: 64px;
    &:hover { opacity: 0.8; }
  }

  &__percent {
    width: 48px;
    min-width: 48px;
    height: 40px;
    background: #F5F5F5;
    border-radius: 7px;
    color: $errorRed;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__check {
    margin: 0 8px;
    flex-grow: 1;
    & p:last-child { color: $textGrey; }
  }

  &__amount {
    text-align: right;
    & p:first-child { color: $textOrange; }
  }
}