@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.mobile-search-header {
  &__wrap { @include stickyHeader; }
  height: $headerHeight;

  &__main, &__search {
    flex-grow: 1;
    overflow: hidden;
    max-width: 0;
    transition: max-width 0.3s;
    & h5 {
      flex-grow: 1;
      padding: 0 30px;
      text-align: center;
      white-space: nowrap;
      width: 100%;
    }
    &-active {
      max-width: 100%;
      transition: max-width 0.3s;
    }
  }
  &__main {
    height: 100%;
    position: relative;
    &-back, &-search {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    &-back {  left: 0; cursor: pointer; }
    &-search { right: 0; }
  }
  &__search {
    width: 0;
    height: 100%;
    &-button {
      margin-left: 15px;
     color: $primaryBlue;
    }
  }
}