@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.employees-page {
  &__content {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include minHeightWithHeader;
    &-top { flex-grow: 1; }
  }
  &__invite { margin-top: 50px; }
  &__card {
    &:not(:last-child) { margin-bottom: 15px; }
  }
}