@import "../../../assets/styles/variables";

.button {
  background: $primaryBlue;
  border-radius: 10px;
  outline: none;
  width: 100%;
  border: none;
  overflow: hidden;
  min-height: 44px;
  &__label {
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
  }
  &:disabled {
    background: #eef3fd;
  }
  &:not(:disabled):hover {
    box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.4);
  }
}