@import "../../assets/styles/variables";

.org-followers-page {
  &__content {
    padding-top: 20px;
    padding-bottom: $navbarBottomPadding;
  }

  &__card {
    &:not(:last-child) {
      min-height: 60px;
      margin-bottom: 10px;
    }
  }
}