@import "../../../assets/styles/variables";

.organization-card {
  display: flex;
  align-items: center;
  overflow: hidden;
  &__wrap {
    display: block;
  }
  &__image {
    margin-right: 10px;
  }
  &__right {
    overflow: hidden;
  }
  &__desc {color: $textGrey;}
}