@import "../../../assets/styles/variables";

.row-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $buttonHeight;
  & svg:first-child {margin-right: 20px;}
  &__left {
    display: flex;
    align-items: center;
  }
}