openapi: 3.0.3
info:
  title: Appofiz Telegram AI Assistant API
  description: |
    API для создания и управления Telegram AI-ассистентами организаций.

    ## Обзор системы

    Система позволяет организациям создавать AI-ассистентов для Telegram ботов,
    которые автоматически отвечают на вопросы клиентов, показывают товары и
    обрабатывают заказы.

    ## Основные сценарии использования

    1. **Покупка подписки** - Организация покупает тарифный план с AI-ассистентом
    2. **Создание бота** - Автоматическое создание Telegram бота через BotFather
    3. **Настройка ассистента** - Конфигурация Q&A базы знаний
    4. **Обработка сообщений** - AI отвечает на входящие сообщения

    ## Аутентификация

    Все endpoints кроме webhooks требуют Bearer token:
    ```
    Authorization: Token {user_token}
    ```
  version: 1.0.0
  contact:
    name: Appofiz Support
    email: support@appofiz.com

servers:
  - url: https://api.appofiz.com/api/v1
    description: Production API
  - url: http://localhost:8000/api/v1
    description: Development API

tags:
  - name: Subscriptions
    description: Управление подписками организаций
  - name: Telegram Bot
    description: Управление Telegram ботами
  - name: Bot Creation
    description: Автоматическое создание ботов через BotFather
  - name: AI Assistant
    description: Управление AI-ассистентами
  - name: Bot Chats
    description: Управление чатами ботов
  - name: Webhooks
    description: Webhook endpoints (без аутентификации)
  - name: Tariffs
    description: Тарифные планы и биллинг

paths:
  # ==================== TARIFFS & SUBSCRIPTIONS ====================
  /organizations/tariffs/:
    get:
      tags:
        - Tariffs
      summary: Получить доступные тарифы по региону
      description: |
        Возвращает список тарифных планов, доступных для региона пользователя.
        Тарифы привязаны к странам и содержат разные уровни (Starter, Standard, Profitable).
      operationId: getTariffs
      parameters:
        - name: country_code
          in: query
          description: ISO код страны (например, RU, KZ, AE)
          required: false
          schema:
            type: string
            example: RU
      responses:
        '200':
          description: Список доступных тарифов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RegionalTariff'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /organizations/subscription/purchase/:
    post:
      tags:
        - Subscriptions
      summary: Купить подписку организации
      description: |
        Создает подписку организации на выбранный тарифный план.
        После успешной оплаты активируются функции AI-ассистента.
      operationId: purchaseOrgSubscription
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseSubscriptionRequest'
      responses:
        '201':
          description: Подписка создана, требуется оплата
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseSubscriptionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /organization/{organization_id}/active-tariff/:
    get:
      tags:
        - Subscriptions
      summary: Получить активный тариф организации
      operationId: getActiveTariff
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
      responses:
        '200':
          description: Активный тариф
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveSubscription'
        '404':
          description: Активная подписка не найдена

  # ==================== AI ASSISTANT ====================
  /organizations/assistant/:
    post:
      tags:
        - AI Assistant
      summary: Создать AI-ассистента для организации
      description: |
        Создает нового AI-ассистента для организации.
        Для каждой организации может быть только один ассистент (OneToOne).
      operationId: createAssistant
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssistantCreateRequest'
      responses:
        '201':
          description: Ассистент создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assistant'
        '400':
          description: Ассистент уже существует
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /organizations/assistant/{assistant_id}/:
    get:
      tags:
        - AI Assistant
      summary: Получить ассистента
      operationId: getAssistant
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AssistantId'
      responses:
        '200':
          description: Данные ассистента
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assistant'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - AI Assistant
      summary: Обновить ассистента
      operationId: updateAssistant
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AssistantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssistantUpdateRequest'
      responses:
        '200':
          description: Ассистент обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assistant'

  /organizations/assistant/questions/:
    get:
      tags:
        - AI Assistant
      summary: Получить список вопросов для базы знаний
      description: |
        Возвращает список предопределенных вопросов, на которые
        организация может добавить ответы для обучения ассистента.
      operationId: getQuestions
      security:
        - bearerAuth: []
      parameters:
        - name: organization_id
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Список вопросов с ответами организации
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuestionWithAnswer'

  /organizations/assistant/questions/answer/:
    post:
      tags:
        - AI Assistant
      summary: Добавить ответ на вопрос
      description: |
        Добавляет или обновляет ответ организации на вопрос из базы знаний.
        Ответы используются AI для генерации релевантных ответов клиентам.
      operationId: createAnswer
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnswerCreateRequest'
      responses:
        '201':
          description: Ответ создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Answer'

  /organizations/assistant/toggle_assistant/:
    post:
      tags:
        - AI Assistant
      summary: Включить/выключить ассистента
      operationId: toggleAssistant
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - organization_id
                - is_enabled
              properties:
                organization_id:
                  type: integer
                is_enabled:
                  type: boolean
      responses:
        '200':
          description: Статус изменен
          content:
            application/json:
              schema:
                type: object
                properties:
                  is_enabled:
                    type: boolean

  /organizations/assistant/purchase/:
    post:
      tags:
        - AI Assistant
      summary: Купить доступ к AI-ассистенту
      description: |
        Активирует AI-ассистент для пользователя с выбранными планами.
        При выборе плана "Все включено" (id=5) автоматически создается Telegram бот.
      operationId: purchaseAssistant
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseAssistantRequest'
      responses:
        '200':
          description: Покупка выполнена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseAssistantResponse'

  /organizations/assistant/{assistant_id}/plans/:
    get:
      tags:
        - AI Assistant
      summary: Получить доступные планы для ассистента
      operationId: getAssistantPlans
      parameters:
        - $ref: '#/components/parameters/AssistantId'
      responses:
        '200':
          description: Список планов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Plan'

  # ==================== TELEGRAM BOT MANAGEMENT ====================
  /messenger-bots/telegram/{organization_id}/:
    get:
      tags:
        - Telegram Bot
      summary: Получить конфигурацию Telegram бота
      operationId: getTelegramBot
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
      responses:
        '200':
          description: Конфигурация бота
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelegramBot'
        '404':
          description: Бот не найден
    post:
      tags:
        - Telegram Bot
      summary: Создать/обновить Telegram бота (ручной способ)
      description: |
        Создает или обновляет Telegram бота с использованием токена от BotFather.
        Для автоматического создания используйте endpoint auto-create.
      operationId: createTelegramBot
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TelegramBotCreateRequest'
      responses:
        '200':
          description: Бот создан/обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelegramBot'
        '400':
          description: Невалидный токен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Telegram Bot
      summary: Удалить Telegram бота
      operationId: deleteTelegramBot
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
      responses:
        '204':
          description: Бот удален
    patch:
      tags:
        - Telegram Bot
      summary: Переключить AI для бота
      operationId: toggleBotAI
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - is_ai_enabled
              properties:
                is_ai_enabled:
                  type: boolean
      responses:
        '200':
          description: AI статус изменен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelegramBot'

  /messenger-bots/telegram/{organization_id}/settings/:
    post:
      tags:
        - Telegram Bot
      summary: Обновить настройки бота (имя, описание, фото)
      operationId: updateBotSettings
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 64
                  description: Имя бота
                description:
                  type: string
                  maxLength: 512
                  description: Описание бота
                photo:
                  type: string
                  format: binary
                  description: Фото профиля бота
      responses:
        '200':
          description: Настройки обновлены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelegramBot'
    delete:
      tags:
        - Telegram Bot
      summary: Удалить фото профиля бота
      operationId: deleteBotPhoto
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
      responses:
        '200':
          description: Фото удалено

  # ==================== AUTO-CREATE BOT ====================
  /messenger-bots/telegram/auto-create/{organization_id}/:
    post:
      tags:
        - Bot Creation
      summary: Автоматически создать Telegram бота
      description: |
        Запускает асинхронный процесс создания бота через BotFather.

        ## Процесс создания:
        1. Создается запрос (BotCreationRequest) со статусом PENDING
        2. Celery task отправляет команды в BotFather через Telethon
        3. Получает токен нового бота
        4. Устанавливает webhook
        5. Статус меняется на COMPLETED

        ## Ограничения:
        - Максимум 20 ботов в день на один userbot
        - При rate limit запрос повторяется через 60 секунд
      operationId: autoCreateBot
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoCreateBotRequest'
      responses:
        '202':
          description: Запрос принят, создание запущено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BotCreationRequestResponse'
        '400':
          description: Бот уже существует
        '503':
          description: Нет доступных userbots для создания

  /messenger-bots/creation-status/{request_id}/:
    get:
      tags:
        - Bot Creation
      summary: Получить статус создания бота
      description: |
        Возвращает текущий статус запроса на создание бота.
        Используйте для polling пока статус не станет COMPLETED или FAILED.
      operationId: getBotCreationStatus
      security:
        - bearerAuth: []
      parameters:
        - name: request_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Статус запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BotCreationRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==================== BOT CHATS & MESSAGES ====================
  /messenger-bots/chats/{organization_id}/:
    get:
      tags:
        - Bot Chats
      summary: Получить список чатов с ботом
      description: |
        Возвращает все чаты организации из Telegram и WhatsApp ботов.
        Чаты отсортированы по дате последнего сообщения.
      operationId: getBotChats
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
        - name: platform
          in: query
          schema:
            type: string
            enum: [telegram, whatsapp]
          description: Фильтр по платформе
      responses:
        '200':
          description: Список чатов
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/BotChat'

  /messenger-bots/chats/{chat_id}/messages/:
    get:
      tags:
        - Bot Chats
      summary: Получить сообщения чата
      operationId: getChatMessages
      security:
        - bearerAuth: []
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Список сообщений
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/BotMessage'

  /messenger-bots/status/{organization_id}/:
    get:
      tags:
        - Bot Chats
      summary: Получить статус всех ботов организации
      operationId: getBotsStatus
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
      responses:
        '200':
          description: Статус ботов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BotsStatus'

  /messenger-bots/unread/{organization_id}/:
    get:
      tags:
        - Bot Chats
      summary: Получить количество непрочитанных сообщений
      operationId: getUnreadCount
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
      responses:
        '200':
          description: Счетчики непрочитанных
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnreadCounts'

  # ==================== WEBHOOKS (NO AUTH) ====================
  /messenger-bots/telegram/webhook/{organization_id}/:
    post:
      tags:
        - Webhooks
      summary: Telegram Webhook
      description: |
        Принимает входящие обновления от Telegram Bot API.

        **Аутентификация:** X-Telegram-Bot-Api-Secret-Token header

        **Обрабатываемые события:**
        - message (текстовые сообщения)
        - callback_query (нажатия inline кнопок)
      operationId: telegramWebhook
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
        - name: X-Telegram-Bot-Api-Secret-Token
          in: header
          required: true
          schema:
            type: string
          description: Secret token для верификации
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TelegramUpdate'
      responses:
        '200':
          description: Update обработан
        '403':
          description: Неверный secret token

  /messenger-bots/whatsapp/waha/webhook/:
    post:
      tags:
        - Webhooks
      summary: WhatsApp WAHA Webhook
      description: |
        Принимает входящие события от WAHA (WhatsApp HTTP API).

        **Аутентификация:** X-Webhook-Hmac-Sha512 header (HMAC-SHA512)

        **Обрабатываемые события:**
        - session.status (изменение статуса сессии)
        - message (входящие сообщения)
        - message.ack (подтверждения доставки)
      operationId: wahaWebhook
      parameters:
        - name: X-Webhook-Hmac-Sha512
          in: header
          required: true
          schema:
            type: string
          description: HMAC-SHA512 подпись
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WAHAWebhookEvent'
      responses:
        '200':
          description: Event обработан
        '403':
          description: Неверная подпись

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Token аутентификация (Token xxx)

  parameters:
    OrganizationId:
      name: organization_id
      in: path
      required: true
      schema:
        type: integer
      description: ID организации
    AssistantId:
      name: assistant_id
      in: path
      required: true
      schema:
        type: integer
      description: ID ассистента

  responses:
    Unauthorized:
      description: Не авторизован
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Нет доступа
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Не найдено
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Неверный запрос
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: object

    # ==================== TARIFFS & SUBSCRIPTIONS ====================
    RegionalTariff:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          enum: [starter, standard, profitable]
        display_name:
          type: string
        country:
          type: string
        currency:
          type: string
        total_price:
          type: number
          format: decimal
        features:
          type: array
          items:
            type: string
        duration_days:
          type: integer

    PurchaseSubscriptionRequest:
      type: object
      required:
        - organization_id
        - tariff_id
        - utc_offset_minutes
      properties:
        organization_id:
          type: integer
        tariff_id:
          type: integer
        promocode:
          type: string
          description: Промокод для скидки
        utc_offset_minutes:
          type: integer
          description: Смещение часового пояса клиента

    PurchaseSubscriptionResponse:
      type: object
      properties:
        message:
          type: string
        transaction_id:
          type: integer
        subscription_id:
          type: integer
        redirect_url:
          type: string
          format: uri
          description: URL для оплаты

    ActiveSubscription:
      type: object
      properties:
        id:
          type: integer
        tariff:
          $ref: '#/components/schemas/RegionalTariff'
        is_active:
          type: boolean
        active_until:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    # ==================== AI ASSISTANT ====================
    Assistant:
      type: object
      properties:
        id:
          type: integer
        organization_id:
          type: integer
        name:
          type: string
        gender:
          type: string
          enum: [male, female]
        position:
          type: string
        image:
          type: string
          format: uri
          nullable: true
        is_enabled:
          type: boolean
        is_active:
          type: boolean
          description: Есть ли активная подписка
        active_until:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    AssistantCreateRequest:
      type: object
      required:
        - organization_id
        - name
        - gender
        - position
      properties:
        organization_id:
          type: integer
        name:
          type: string
          maxLength: 255
        gender:
          type: string
          enum: [male, female]
        position:
          type: string
          maxLength: 255
        image_id:
          type: integer
          nullable: true

    AssistantUpdateRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 255
        gender:
          type: string
          enum: [male, female]
        position:
          type: string
          maxLength: 255
        image_id:
          type: integer
          nullable: true
        is_enabled:
          type: boolean

    QuestionWithAnswer:
      type: object
      properties:
        id:
          type: integer
        text:
          type: string
        ordering:
          type: integer
        answer:
          $ref: '#/components/schemas/Answer'
          nullable: true

    Answer:
      type: object
      properties:
        id:
          type: integer
        question_id:
          type: integer
        text:
          type: string
          maxLength: 5000
        files:
          type: array
          items:
            $ref: '#/components/schemas/AnswerFile'

    AnswerFile:
      type: object
      properties:
        id:
          type: integer
        file:
          type: string
          format: uri
        name:
          type: string

    AnswerCreateRequest:
      type: object
      required:
        - assistant_id
        - question_id
      properties:
        assistant_id:
          type: integer
        question_id:
          type: integer
        text:
          type: string
          maxLength: 5000
        file_ids:
          type: array
          items:
            type: integer

    Plan:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        price:
          type: number
          format: decimal
        currency:
          type: string
        duration_days:
          type: integer
        includes_telegram_bot:
          type: boolean
          description: Включает автоматическое создание Telegram бота

    PurchaseAssistantRequest:
      type: object
      required:
        - assistant
        - plans
        - duration_days
        - utc_offset_minutes
      properties:
        assistant:
          type: integer
          description: ID ассистента
        plans:
          type: array
          items:
            type: integer
          description: ID планов для покупки
        duration_days:
          type: integer
        utc_offset_minutes:
          type: integer

    PurchaseAssistantResponse:
      type: object
      properties:
        message:
          type: string
        transaction_id:
          type: integer
        organization_id:
          type: integer
        telegram_bot_will_be_created:
          type: boolean
          description: Будет ли создан Telegram бот

    # ==================== TELEGRAM BOT ====================
    TelegramBot:
      type: object
      properties:
        id:
          type: integer
        organization_id:
          type: integer
        organization_title:
          type: string
        bot_username:
          type: string
          description: Username бота (без @)
        is_active:
          type: boolean
        is_ai_enabled:
          type: boolean
        webhook_url:
          type: string
          format: uri
        last_error:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    TelegramBotCreateRequest:
      type: object
      required:
        - bot_token
      properties:
        bot_token:
          type: string
          maxLength: 100
          pattern: '^\d+:[A-Za-z0-9_-]+$'
          description: Токен от BotFather (формат 123456789:ABCdefGHI...)
        is_active:
          type: boolean
          default: true

    AutoCreateBotRequest:
      type: object
      required:
        - bot_name
      properties:
        bot_name:
          type: string
          maxLength: 64
          description: Имя бота для отображения в Telegram

    BotCreationRequestResponse:
      type: object
      properties:
        message:
          type: string
          example: Bot creation started
        request_id:
          type: integer
          description: ID запроса для отслеживания статуса
        bot_name:
          type: string
        status:
          type: string
          enum: [pending, in_progress, completed, failed]

    BotCreationRequest:
      type: object
      properties:
        id:
          type: integer
        organization_id:
          type: integer
        organization_title:
          type: string
        status:
          type: string
          enum: [pending, in_progress, completed, failed]
        status_display:
          type: string
        bot_name:
          type: string
        bot_username:
          type: string
          nullable: true
          description: Username созданного бота (после completion)
        error_message:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
          nullable: true

    # ==================== BOT CHATS ====================
    BotChat:
      type: object
      properties:
        id:
          type: integer
        platform:
          type: string
          enum: [telegram, whatsapp]
        platform_display:
          type: string
        platform_chat_id:
          type: string
        user_name:
          type: string
          nullable: true
        user_phone:
          type: string
          nullable: true
        user_photo:
          type: string
          format: uri
          nullable: true
        is_active:
          type: boolean
        last_message_at:
          type: string
          format: date-time
          nullable: true
        messages_count:
          type: integer
        last_message_preview:
          type: string
          nullable: true
        unread_count:
          type: integer
        created_at:
          type: string
          format: date-time

    BotMessage:
      type: object
      properties:
        id:
          type: integer
        chat_id:
          type: integer
        sender:
          type: string
          enum: [user, assistant]
        sender_display:
          type: string
        text:
          type: string
        platform_message_id:
          type: string
        is_read:
          type: boolean
        created_at:
          type: string
          format: date-time

    BotsStatus:
      type: object
      properties:
        telegram:
          type: object
          properties:
            is_configured:
              type: boolean
            is_active:
              type: boolean
            is_ai_enabled:
              type: boolean
            bot_username:
              type: string
              nullable: true
        whatsapp:
          type: object
          properties:
            is_configured:
              type: boolean
            is_active:
              type: boolean
            is_ai_enabled:
              type: boolean
            is_connected:
              type: boolean
            connected_phone:
              type: string
              nullable: true
        web:
          type: object
          properties:
            is_configured:
              type: boolean
            is_enabled:
              type: boolean

    UnreadCounts:
      type: object
      properties:
        total:
          type: integer
        telegram:
          type: integer
        whatsapp:
          type: integer
        website:
          type: integer

    # ==================== WEBHOOKS ====================
    TelegramUpdate:
      type: object
      properties:
        update_id:
          type: integer
        message:
          type: object
          properties:
            message_id:
              type: integer
            from:
              type: object
              properties:
                id:
                  type: integer
                first_name:
                  type: string
                last_name:
                  type: string
                username:
                  type: string
                language_code:
                  type: string
            chat:
              type: object
              properties:
                id:
                  type: integer
                type:
                  type: string
            text:
              type: string
            date:
              type: integer
        callback_query:
          type: object
          properties:
            id:
              type: string
            from:
              type: object
            message:
              type: object
            data:
              type: string

    WAHAWebhookEvent:
      type: object
      properties:
        event:
          type: string
          enum: [session.status, message, message.ack]
        session:
          type: string
        engine:
          type: string
        payload:
          type: object
