@mixin contentHeight {
  height: calc(100vh - 92px); //fallback;
  height: calc(100 * var(--vh) - 95px);
  overflow-y: auto;
  padding-bottom: 25px;
  &::-webkit-scrollbar { width: 0 !important };
}

@mixin fullHeight {
  height: calc(100vh); //fallback;
  height: calc(100 * var(--vh));
  overflow-y: auto;
  &::-webkit-scrollbar { width: 0 !important };
}

@mixin minHeightWithHeader {
  min-height: calc(100vh - 44px); //fallback;
  min-height: calc(100 * var(--vh) - 44px);
}

@mixin stickyHeader {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: -webkit-sticky;
  position: sticky;
  background: #FFF;
  top: 0;
  width: 100%;
  z-index: 2;
}