$primaryBlue: #4285F4;

$primaryBlack: #2C2D2E;
$textGrey: #818C99;
$textOrange: #FBBC05;
$labelGrey: #6D7885;
$lightGrey: #EBEDF0;
$errorRed: #FF5A60;
$lightRed: #FAEBEB;
$borderGrey: #E8EAED;
$onlineGreen: #34A853;
$offlineRed: #D72C20;

$buttonHeight: 52px;
$headerHeight: 44px;
$footerHeight: 150px; // ?
$navbarBottomPadding: 91px;